@import "../../../styles/component-templates.scss";

.sider-container {
  @extend .theme-sider;
}

.sider-title {
  @extend .theme-sider-title;
}

.menu-group-label {
  @extend .theme-text-primary;
  display: flex;
  align-items: center;
  gap: 8px;
}
